div {
	display: flex;
	justify-content: center;
}

.bttn::before {
	content: 'Pasa por encima';
}

.bttn:hover {
	color: white;
	background-color: green;
}

.bttn:hover::before {
	content: 'Hecho!';
}